@media(min-width: 1440px) and (max-width:1920px) {
    .content {
        padding: 0 192px 192px 160px;
    
        .section {
            margin-top: 160px;
        }
    
        .aboutSection {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .aboutSectionTitle {
                margin-top: 185px;
                font-size: 48px;
                margin-right: 50px;
            }
            .aboutSectionText {
                width: 460px;
                margin-top: 93px;
    
                h3 {
                    font-size: 28px;
                    color: #402661;
                }
                
                p {
                    margin-top: 22px;
                }
            }
            .aboutSectionImg {
                width: 585px;
                height: 725px;

                img {
                    width: 100%;
                }
            }
        }
        
        .affordableSection {
            display: flex;
            justify-content: space-around;

            .affordableSectionText {
                width: 482px;
                h3{
                    font-size: 28px;
                    color: #402661;
                }
                p {
                    margin-top: 22px;
                }
            }

            .AffordableSectionImg {
                width: 948px;
                height: 768px;

                img {
                    width: 100%;
                }
            }
        }


        .paymentSection {
            display: flex;
            justify-content: center;
            font-size: 38px;
    
            .rightText {
                margin-left: 500px;
            }
        }
    
        .ourCultureSection {
            width: 100%;
            display: flex;
            justify-content: space-around;
    
            .cultureBlock {
                width: 360px;
    
                h3 {
                    font-size: 24px;
                    margin-top: 36px;
                    margin-bottom: 12px;
                    color: #2C2C2C;
                }
    
                img {
                    width: 360px;
                    height: 360px;
                }
    
                p {          
                    font-weight: bold;      
                    width: 342px;
                }
            }
    
            .ourCultureSectionText {
                height: 360px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                h2 {
                    font-size: 48px;
                }
            }
    
        }
    
        .AdvantagesSection {
            h2 {
                font-size: 48px;
                margin-top: 97px;
                margin-right: 202px;
            }
    
            .AdvantageBlock {
                h4 {
                    text-align: center;
                    margin-top: 64px;
                    font-size: 24px;
                }
    
                &:nth-child(3) {
                    margin-top: 274px;
                }
    
                &:nth-child(4) {
                    margin-top: 62px;
                }
            }
    
            display: flex;
            justify-content: space-between;
        }
    
        .contactUsSection {
            display: flex;
            justify-content: flex-end;
    
            p {
                text-align:  right;
                font-size: 48px;
                margin-bottom: 38px;
            }
    
            .inputDiv {
                width: 700px;
                position: relative;
                display: flex;
            
                input {
                    height: 60px;
                    width: 100%;
                    padding: 15px 19px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border: 2px solid #17ABA6;
                    border-radius: 20px;
                }
                
                .inputArrow {
                    position: absolute;
                    align-self: center;
                    right: 22.5px;
                }
            }
        }
    }
    
}

 @media (min-width :1280px) and (max-width :1440px) {
    .content {
        padding: 140px 80px 120px 80px;
    
        .section {
            margin-top: 140px;
        }
    
        .aboutSection {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .aboutSectionTitle {
                margin-top: 185px;
                font-size: 38px;
                margin-right: 50px;
            }
            .aboutSectionText {
                width: 425px;
                margin-top: 93px;
    
                h3 {
                    font-size: 24px;
                    color: #402661;
                }
                
                p {
                    margin-top: 22px;
                }
            }
            .aboutSectionImg {
                width: 489px;
                height: 603px;

                img {
                    width: 100%;
                }
            }
        }


        
        .affordableSection {
            display: flex;
            justify-content: space-around;

            .affordableSectionText {
                width: 482px;

                h3{
                    font-size: 24px;
                    color: #402661;
                }
                p {
                    margin-top: 22px;
                }
            }

            .AffordableSectionImg {
                width: 789px;
                height: 639px;

                img {
                    width: 100%;
                }
            }
        }


        .paymentSection {
            display: flex;
            justify-content: center;
            font-size: 30px;
    
            .rightText {
                margin-left: 350px;
            }
        }
    

        .ourCultureSection {
            width: 100%;
            display: flex;
            justify-content: space-around;
    
            .cultureBlock {
                width: 360px;
    
                h3 {
                    font-size: 20px;
                    margin-top: 36px;
                    margin-bottom: 12px;
                    color: #2C2C2C;
                }
    
                img {
                    width: 302px;
                    height: 302px;
                }
    
                p {          
                    font-weight: bold;      
                    width: 302px;
                }
            }
    
            .ourCultureSectionText {
                height: 360px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                h2 {
                    font-size: 38px;
                }
            }
    
        }
    
        .AdvantagesSection {
            h2 {
                font-size: 38px;
                margin-top: 97px;
                margin-right: 192px;
            }
    
            .AdvantageBlock {
                h4 {
                    text-align: center;
                    margin-top: 64px;
                    font-size: 20px;
                }
    
                &:nth-child(3) {
                    margin-top: 274px;
                }
    
                &:nth-child(4) {
                    margin-top: 62px;
                }
            }
    
            display: flex;
            justify-content: space-between;
        }
    
        .contactUsSection {
            display: flex;
            justify-content: flex-end;
    
            p {
                text-align:  right;
                font-size: 38px;
                margin-bottom: 38px;
            }
    
            .inputDiv {
                width: 624px;
                position: relative;
                display: flex;
            
                input {
                    height: 60px;
                    width: 100%;
                    padding: 15px 19px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border: 2px solid #17ABA6;
                    border-radius: 20px;
                }
                
                .inputArrow {
                    position: absolute;
                    align-self: center;
                    right: 22.5px;
                }
            }
        }
    }
    

 }


 @media (min-width: 1024px) and (max-width:1280px) {
    .content {
        padding: 120px 80px 160px 80px;
    
        .section {
            margin-top: 120px;
        }
    
        .aboutSection {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .aboutSectionTitle {
                margin-top: 185px;
                font-size: 36px;
                margin-right: 50px;
            }
            .aboutSectionText {
                margin-left: 64px;
                width: 365px;
                margin-top: 93px;
    
                h3 {
                    font-size: 24px;
                    color: #402661;
                }
                
                p {
                    margin-top: 22px;
                }
            }
            .aboutSectionImg {
                width: 429px;
                height: 529px;

                img {
                    width: 100%;
                }
            }
        }


        
        .affordableSection {
            display: flex;
            justify-content: space-around;

            .affordableSectionText {
                width: 367px;

                h3{
                    font-size: 24px;
                    color: #402661;
                }
                p {
                    margin-top: 22px;
                }
            }

            .AffordableSectionImg {
                width: 689px;
                height: 559px;

                img {
                    width: 100%;
                }
            }
        }


        .paymentSection {
            display: flex;
            justify-content: center;
            font-size: 28px;
    
            .rightText {
                margin-left: 300px;
            }
        }
    

        .ourCultureSection {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
        
            .cultureBlock {
                width: 286px;
                
                h3 {
                    font-size: 24px;
                    margin-top: 36px;
                    margin-bottom: 12px;
                    color: #2C2C2C;
                }
    
                img {
                    width: 276px;
                    height: 276px;
                }
    
                p {          
                    font-weight: bold;      
                    width: 276px;
                }
            }
    
            .ourCultureSectionText {
                h2 {
                    display: none;
                }
            }
    
        }
    
        .AdvantagesSection {
            h2 {
                font-size: 38px;
                margin-top: 97px;
                margin-right: 112px;
            }
    
            .AdvantageBlock {
                h4 {
                    text-align: center;
                    margin-top: 64px;
                    font-size: 20px;
                }

                &:nth-child(2) {
                    img {
                       width: 201px;
                       height: 259px; 
                    }
                }
    
                &:nth-child(3) {
                    margin-top: 274px;
                    img {
                        width: 228px;
                        height: 238px;
                    }
                }
    
                &:nth-child(4) {
                    img {
                        width: 189px;
                        height: 309px;
                        margin-top: 62px;
                    }
                    
                }
            }
    
            display: flex;
            justify-content: space-between;
        }
    
        .contactUsSection {
            display: flex;
            justify-content: flex-end;
    
            p {
                text-align:  right;
                font-size: 36px;
                margin-bottom: 38px;
            }
    
            .inputDiv {
                width: 624px;
                position: relative;
                display: flex;
            
                input {
                    height: 60px;
                    width: 100%;
                    padding: 15px 19px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border: 2px solid #17ABA6;
                    border-radius: 20px;
                }
                
                .inputArrow {
                    position: absolute;
                    align-self: center;
                    right: 22.5px;
                }
            }
        }
    }

 }

 @media (min-width:768px) and (max-width:1024px) {
    .content {
        padding: 100px 64px 140px 64px;
    
        .section {
            margin-top: 120px;
        }
    
        .aboutSection {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .aboutSectionTitle {
                margin-top: 185px;
                font-size: 32px;
                margin-right: 50px;
            }
            .aboutSectionText {
                margin-left: 64px;
                width: 297px;
                height: 300px;
                margin-top: 13px;
    
                h3 {
                    font-size: 22px;
                    color: #402661;
                }
                
                p {
                    margin-top: 5px;
                }
            }
            .aboutSectionImg {
                width: 321px;
                height: 396px;

                img {
                    width: 100%;
                }
            }
        }


        
        .affordableSection {
            display: flex;
            justify-content: space-around;

            .affordableSectionText {
                width: 297px;

                h3{
                    font-size: 22px;
                    color: #402661;
                }
                p {
                    margin-top: 14px;
                }
            }

            .AffordableSectionImg {
                width: 551px;
                height: 447px;

                img {
                    width: 100%;
                }
            }
        }


        .paymentSection {
            display: flex;
            justify-content: center;
            font-size: 24px;
    
            .rightText {
                margin-left: 280px;
            }
        }
    

        .ourCultureSection {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
        
            .cultureBlock {
                width: 286px;
                
                h3 {
                    font-size: 18px;
                    margin-top: 36px;
                    margin-bottom: 12px;
                    color: #2C2C2C;
                }
    
                img {
                    width: 230px;
                    height: 230px;
                }
    
                p {          
                    font-weight: bold;      
                    width: 230px;
                }
            }
    
            .ourCultureSectionText {
                h2 {
                    display: none;
                }
            }
    
        }
    
        .AdvantagesSection {
            h2 {
                font-size: 32px;
                margin-top: 97px;
                margin-right: 112px;
            }
    
            .AdvantageBlock {
                h4 {
                    text-align: center;
                    margin-top: 64px;
                    font-size: 18px;
                }

                &:nth-child(2) {
                    img {
                       width: 151px;
                       height: 198px; 
                    }
                }
    
                &:nth-child(3) {
                    margin-top: 274px;
                    img {
                        width: 217px;
                        height: 247px;
                    }
                }
    
                &:nth-child(4) {
                    img {
                        width: 144px;
                        height: 300px;
                        margin-top: 62px;
                    }
                    
                }
            }
    
            display: flex;
            justify-content: space-between;
        }
    
        .contactUsSection {
            display: flex;
            justify-content: flex-end;
    
            p {
                text-align:  right;
                font-size: 32px;
                margin-bottom: 38px;
            }
    
            .inputDiv {
                width: 550px;
                position: relative;
                display: flex;
            
                input {
                    height: 53px;
                    width: 100%;
                    padding: 15px 19px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border: 2px solid #17ABA6;
                    border-radius: 20px;
                }
                
                .inputArrow {
                    position: absolute;
                    align-self: center;
                    right: 22.5px;
                }
            }
        }
    }
 }

 @media (min-width:640px) and (max-width:768px) {
    .content {
       .section {
           margin-top:120px;
       }

      .aboutSection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    

        .aboutSectionTitle {
            font-size: 32px;
            height: 100px;

            
        }
        .aboutSectionText {
            
            width: 520px;
            margin-top: 13px;
            padding-left: 200px;
        
            h3 {
                font-size: 22px;
                color: #402661;
            }
            
            p {
                margin-top: 14px;
            }
        }
        .aboutSectionImg {
            width: 411px;
            height: 507px;
            margin-top: 110px;
            

            img {
                width: 100%;
                margin-top: 10px;
            }
        }
     }



     .affordableSection {
        display: flex;
        flex-wrap: wrap;
        

        .affordableSectionText {
            width: 411px;
            margin-left: 40px;
            order: 2;

            h3{
                font-size: 22px;
                color: #402661;
            }
            p {
                margin-top: 14px;
            }
        }

        .AffordableSectionImg {
            width: 498px;
            height: 404px;
            order: 1;

            img {
                width: 100%;
                padding-left: 60px;
            }
        }
     }

     .paymentSection {
        margin-left: 50px;
        h2 {
            font-size: 32px;

            &.rightText {
            margin-left: 305px;
            }
        }
     }

     .ourCultureSection {
        display: flex;
        justify-content: space-evenly;
            
        .cultureBlock {
            width: 208px;

            img {
                width: 208px;
                height: 208px;
            }

            h3 {
                font-size: 16px;
            }

            p {
                width: 208px;
                font-size: 14px;
                margin-top: 16px;
            }
        }

        .ourCultureSectionText {
            display: none;
        }

     }

    
     .AdvantagesSection {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 32px;
            margin-top: 97px;
            margin-right: 52px;
            
        }

        .AdvantageBlock {
            h4 {
                text-align: center;
                margin-top: 64px;
                font-size: 18px;
            }

            &:nth-child(2) {
                img {
                   width: 131px;
                   height: 215px; 
                }
            }

            &:nth-child(3) {
                margin-top: 274px;
                img {
                    width: 207px;
                    height: 219px;
                }
            }

            &:nth-child(4) {
                img {
                    width: 133px;
                    height: 272px;
                    margin-top: 52px;
                }  
            }
        }
     }


     .contactUsSection {
        display: flex;
        justify-content: flex-end;
    
         p {
            text-align:  right;
            font-size: 32px;
            margin-bottom: 38px;
            }
    
        .inputDiv {
            width: 550px;
            position: relative;
            display: flex;
        
            input {
                height: 52px;
                width: 100%;
                padding: 15px 19px;
                font-size: 20px;
                box-sizing: border-box;
                border: 2px solid #17ABA6;
                border-radius: 20px;
            }
                
            .inputArrow {
                position: absolute;
                align-self: center;
                right: 22.5px;
            }
        }
        
     }
            
    }
}


@media (min-width:360px) and  (max-width:640px) {
    .content {
        padding: 37px 24px 37px 24px;
        .section {
            margin-top:50px;
        }
 
       .aboutSection {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
     
 
         .aboutSectionTitle {
             font-size: 32px;
             height: 100px;
 
             
         }
         .aboutSectionText {
             width: 544px;
             margin-top: 13px;
            
             h3 {
                 font-size: 22px;
                 color: #402661;
             }
             
             p {
                 margin-top: 14px;
             }
         }
         .aboutSectionImg {
             width: 544px;
             height: 671px;
             margin-top: 110px;
             
 
             img {
                 width: 100%;
                 margin-top: 10px;
             }
         }
      }
 
 
 
      .affordableSection {
         display: flex;
         flex-wrap: wrap;
         
 
         .affordableSectionText {
             width: 544px;
             order: 2;
             
             h3{
                 font-size: 22px;
                 color: #402661;
             }
             p {
                 margin-top: 14px;
             }
         }
 
         .AffordableSectionImg {
             width: 544px;
             height: 441px;
             order: 1;
 
             img {
                 width: 100%;
                 
             }
         }
      }
        .paymentSection {
            h2 {
                font-size: 20px;

                &.rightText {
                    margin-left: 100px;
                }
            }
        }

        .ourCultureSection {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
                
            .cultureBlock {
                width: 312px;
                order: 1;

                img {
                    width: 312px;
                    height: 312px;
                    
                }

                h3 {
                    font-size: 16px;
                }

                p {
                    width: 312px;
                    font-size: 14px;
                    margin-top: 16px;
                }
            }

            .ourCultureSectionText {
                order: 2;

                h2 {
                    font-size: 30px;
                }
            }
  
        }

        .AdvantagesSection {
            .AdvantageBlock {
                display: flex;
                flex-wrap: wrap;
                margin-top: 200px;
                h4 {
                 font-size: 18px;
                 margin: 10px;
                }

                &:nth-child(2) {
                    width: 126px;
                    height: 160px;
                }

                &:nth-child(3) {
                    width: 207px;
                    height: 209px;
                    
                }

                &:nth-child(4) {
                    width: 133px;
                    height: 270px;
                    margin-right: 50px;
                }
            }

            h2 {
                font-size: 30px;
            }
        }

        .contactUsSection {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 60px;
    
            p {
                text-align:  right;
                font-size: 20px;
                margin-left: 40px;
                
            }
    
            .inputDiv {
                width: 300px;
                position: relative;
                display: flex;
                
            
                input {
                    height: 50px;
                    width: 100%;
                    padding: 15px 19px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border: 2px solid #17ABA6;
                    border-radius: 20px;
                }
                
                .inputArrow {
                    position: absolute;
                    align-self: center;
                    right: 22.5px;
                }
            }
        }

        
    }
}


// @media (max-width:360px) {
//     .content {
//         padding: 40px 24px 90px 24px;

//         .section {
//             flex-wrap: wrap;
//             margin-top: 0;
//             margin-bottom: 80px;
//         }

//         .aboutSection {

//             .sectionTitle {
//                 font-size: 30px;
//                 margin: 0;
//             }

//             .sectionImg {
//                 height: 385px;

//                 img {
//                     width: 312px;
//                     height: 385px;
//                 }
                    
//             }
//         }

//         .affordableSection {
//             .sectionImg {
//                 height: 252px;

//                 img {
//                     width: 312px;
//                     height: 252px;                    
//                 }
//             }    
//         }


//         .paymentSection {
//             h2 {
//                 font-size: 24px;

//                 &.rightText {
//                     margin-left: 55px;
//                 }
//             }
//         }

//         .contactUsSection {
//             display: flex;
//             justify-content: flex-end;
    
//             p {
//                 text-align:  right;
//                 font-size: 30px;
//                 margin-bottom: 38px;
//             }
    
//             .inputDiv {
//                 width: 310px;
//                 position: relative;
//                 display: flex;
            
//                 input {
//                     height: 50px;
//                     width: 100%;
//                     padding: 15px 19px;
//                     font-size: 20px;
//                     box-sizing: border-box;
//                     border: 2px solid #17ABA6;
//                     border-radius: 20px;
//                 }
                
//                 .inputArrow {
//                     position: absolute;
//                     align-self: center;
//                     right: 22.5px;
//                 }
//             }
//         }


//         .AdvantagesSection {
//             .AdvantageBlock {
//                 width: 151px;

//                 img {
//                     width: 151px;
//                     height: 215px;
//                 }

//                 h4 {
//                  font-size: 14px;
//                  margin: 16px;
//                 }

//                 &:nth-child(3) {
//                     margin-top: 0;
//                 }
//             }

//             h2 {
//                 font-size: 30px;
//             }
//         }

//         .ourCultureSection {
//             .cultureBlock {
//                 margin: 16px;

//                 img {
//                     width: 312px;
//                     height: 312px;
//                 }

//                 h3 {
//                     font-size: 16px;
//                 }

//                 p {
//                     font-size: 14px;
//                     margin-top: 16px;
//                 }
//             }

//             .ourCultureSectionText {
//                 h2 {
//                     font-size: 30px;
//                 }
//             }
  
//         }

        
//     }
// }








